.homeHeader {
    animation: headerIn .25s;
}

@keyframes headerIn {
    from {
        transform: translateY(-1000px);
    }

    to {
        transform: translateY(0px);
    }
}

.homeBody {
    animation: bodyIn .5s;
}

@keyframes bodyIn {
    from {
        transform: translateY(-10000px);
    }

    to {
        transform: translateY(0px);
    }
}

.pfp {
    animation: pfpIn .75s;
}

@keyframes pfpIn {
    from {
        transform: translatex(-10000px);
    }

    to {
        transform: translatex(0px);
    }
}

.homeFooter {
    animation: footerIn 1s;
}

@keyframes footerIn {
    from {
        transform: translatey(10000px);
    }

    to {
        transform: translatey(0px);
    }
}