/* .homeHeader{
    animation: headerIn .5s;
}
@keyframes headerIn{
    from{
        transform: translateY(-1000px);
    }
    to{
        transform: translateY(0px);
    }
}
.mainPage{
    animation: bodyIn 1s;
}
@keyframes bodyIn {
    from{
        transform: translateY(-10000px);
    }
    to{
        transform: translateY(0px);
    }
} */